
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgb(237, 250, 255) 0%, rgb(78, 73, 62) 100%);
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('Screenshot\ 2025-03-29\ 035644.png');
    background-size: auto;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
  }
  
  nav {
    background: #020024;
  background: linear-gradient(90deg, rgb(180, 162, 123) 0%, rgb(126, 108, 86) 35%, rgb(139, 132, 110) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color: white;
  }
  .header {
    margin: 8px 32px;
    display: flex;
    align-items: center;
  }
  .logo {
    width: 128px;
    height: auto;
    margin-right: 20px;
  }
  #main-title {
    color: #000;
  }
  #subtitle {
    color: #333;
  } /* Output Section */
  .output-section {
    margin: 8px 32px;
  }
  #output-box {
    width: 100%;
    height: 200px;
    resize: none;
    opacity: 0.5;
    background: #ecded3e1;
  }
  .content {
    display: flex;
    margin: 25px;
  }
  .account,
  .financial {
    width: 50%;
  }
  .info-row {
    display: flex;
    padding-top: 20px;
  }
  .info-row img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .flex {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  .input-box {
    margin-left: 10px;
  }
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  .currenC{
      margin: 0px 10px;
  }